.container {
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    padding-top: 120px;
    box-sizing: border-box;
    ._item {
        width: 100%;
        border-bottom: 0.5px #3b3736 solid;
        margin-bottom: 8px;
        .adm-input-element {
            height: 52px !important;
        }
    }
    .navigateText {
        font-size: 16px;
        color: rgb(254, 215, 52);
        margin-top: 256px;
    }
}